<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    <title>Title</title>
    {% endblock %}

    {% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sparkle.css@latest/dist/css/sparkle.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.5/css/fork-awesome.min.css" integrity="sha256-P64qV9gULPHiZTdrS1nM59toStkgjM0dsf5mK/UwBV4=" crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>