<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}
    <title>Title</title>
    {% endblock %}

    {% block style %}
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sparkle.css@1.9.5/dist/css/sparkle.min.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sparkle.css@1.9.14/dist/css/sparkle.min.css">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>