{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}
<div class="wrapper">
    <h1 class="make-text-title">Welcome to UserList</h1>
    <h3 class="make-text-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>

    <div class="buttons make-margin-20-vertical">
        <a href="{{ url_for('register') }}" class="button make-success make-small">
            <i class="fa fa-plus"></i>
            <span class="make-margin-10-left">Add User</span>
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>
                    <div class="buttons make-float-right">
                        <a href="#" class="button make-warning make-small"><i class="fa fa-pencil-square-o"></i></a>
                        <a href="#" class="button make-danger make-small"><i class="fa fa-trash-o"></i></a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}